.character {
    background: url('../img/characters-outlined.png') no-repeat;
    display: block;
}

.character-affluent-worker {
    width: 125px;
    height: 218px;
    background-position: -5px -5px;
}

.character-elite {
    width: 125px;
    height: 218px;
    background-position: -140px -5px;
}

.character-emergent-worker {
    width: 125px;
    height: 218px;
    background-position: -275px -5px;
}

.character-established-middle {
    width: 125px;
    height: 218px;
    background-position: -410px -5px;
}

.character-precariat {
    width: 125px;
    height: 218px;
    background-position: -545px -5px;
}

.character-technical-middle {
    width: 125px;
    height: 218px;
    background-position: -680px -5px;
}

.character-traditional-worker {
    width: 125px;
    height: 218px;
    background-position: -815px -5px;
}

.character-user {
    width: 125px;
    height: 218px;
    background-position: -950px -5px;
}

// CharactersNavView
// FIXME: Rename
.character-nav {
    background: url('../img/characters-nav.png') no-repeat;
}

.character-nav-affluent-worker {
    width: 94px;
    height: 68px;
    background-position: -5px -5px;
}

.character-nav-elite {
    width: 94px;
    height: 68px;
    background-position: -109px -5px;
}

.character-nav-emergent-worker {
    width: 94px;
    height: 68px;
    background-position: -213px -5px;
}

.character-nav-established-middle {
    width: 94px;
    height: 68px;
    background-position: -317px -5px;
}

.character-nav-precariat {
    width: 94px;
    height: 68px;
    background-position: -421px -5px;
}

.character-nav-technical-middle {
    width: 94px;
    height: 68px;
    background-position: -525px -5px;
}

.character-nav-traditional-worker {
    width: 94px;
    height: 68px;
    background-position: -629px -5px;
}

.character-nav-user {
    width: 94px;
    height: 68px;
    background-position: -733px -5px;
}

// SplashView
// FIXME: Rename
.characters-small {
    background: url('../img/characters-small.png') no-repeat;
}

.characters-small-affluent-worker {
    width: 49px;
    height: 85px;
    background-position: -5px -5px;
}

.characters-small-elite {
    width: 49px;
    height: 85px;
    background-position: -64px -5px;
}

.characters-small-emergent-worker {
    width: 49px;
    height: 85px;
    background-position: -123px -5px;
}

.characters-small-established-middle {
    width: 49px;
    height: 85px;
    background-position: -182px -5px;
}

.characters-small-precariat {
    width: 49px;
    height: 85px;
    background-position: -241px -5px;
}

.characters-small-technical-middle {
    width: 49px;
    height: 85px;
    background-position: -300px -5px;
}

.characters-small-traditional-worker {
    width: 49px;
    height: 85px;
    background-position: -359px -5px;
}

// Mobile view
.character-mobile {
    background: url('../img/characters-mobile.png') no-repeat;
}

.character-mobile-affluent-worker {
    width: 89px;
    height: 155px;
    background-position: -5px -5px;
}

.character-mobile-elite {
    width: 89px;
    height: 155px;
    background-position: -104px -5px;
}

.character-mobile-emergent-worker {
    width: 89px;
    height: 155px;
    background-position: -203px -5px;
}

.character-mobile-established-middle {
    width: 89px;
    height: 155px;
    background-position: -302px -5px;
}

.character-mobile-precariat {
    width: 89px;
    height: 155px;
    background-position: -401px -5px;
}

.character-mobile-technical-middle {
    width: 89px;
    height: 155px;
    background-position: -500px -5px;
}

.character-mobile-traditional-worker {
    width: 89px;
    height: 155px;
    background-position: -599px -5px;
}

.character-mobile-user {
    width: 89px;
    height: 155px;
    background-position: -698px -5px;
}
