.piechart {
    background: url('../img/piecharts.png') no-repeat;
    display: block;
}

.piechart-14pc {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
}

.piechart-15pc {
    width: 60px;
    height: 60px;
    background-position: -75px -5px;
}

.piechart-19pc {
    width: 60px;
    height: 60px;
    background-position: -145px -5px;
}

.piechart-25pc {
    width: 60px;
    height: 60px;
    background-position: -215px -5px;
}

.piechart-6pc {
    width: 60px;
    height: 60px;
    background-position: -285px -5px;
}

.piechart-7pc {
    width: 60px;
    height: 60px;
    background-position: -355px -5px;
}
